#ignore folder
DZ_2(CoinBase)_Luckin_Vladislav/
DZ_scss_Luckin_Vladislav/
DZ_logoipsum_Luckin_Vladislav/.parcel-cache/
DZ_logoipsum_Luckin_Vladislav/.vscode/
DZ_logoipsum_Luckin_Vladislav/node_modules/
DZ_logoipsum_Luckin_Vladislav/dist/
DZ_logoipsum_Luckin_Vladislav/package-lock.json